@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5 d-grid gap-2">
	<div class="p-4 bg-light-mid-grad d-flex justify-content-center align-items-center" style="min-height:140px">
		<img src="~/images/gm-logo.png" alt="Gym Management Logo" style="height: 90px; width: auto;">
	</div>
	<div class="p-4 bg-mid-grad d-flex justify-content-center align-items-center" style="min-height:140px">
		<img class="left-bolt" src="~/images/black-bolt-logo.png" alt="Gym Management Logo" style="height: 90px; width: auto;">
		<img class="right-bolt" src="~/images/white-bolt-logo.png" alt="Gym Management Logo" style="height: 90px; width: auto;">
	</div>
	<div class="p-4 bg-dark-grad d-flex justify-content-center align-items-center" style="min-height:140px">
		<h1 class="home-h1 fs-2 text-white fw-normal">Gym Management</h1>
	</div>
</div>

<div class="d-flex justify-content-center align-items-center flex-wrap gap-3 mt-5 py-2">
	@if (SignInManager.IsSignedIn(User))
	{
		// determine the role of the user
		var user = await UserManager.GetUserAsync(User);
		var roles = await UserManager.GetRolesAsync(user);

		@* <div class="px-3"> *@
		@* 	<div>User: @user.UserName!</div> *@
		@* 	<div>Your roles: @string.Join(", ", roles)</div> *@
		@* </div> *@

		@if (roles.Contains("Admin"))
		{
			<div class="d-flex px-2">
				<img src="~/images/blue-bolt-logo.png" alt="Gym Management Logo" style="height: 50px; width: auto;">
				<a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="MembershipTypeSummary">Membership Type Summary</a>
			</div>

			<div class="d-flex px-2">
				<img src="~/images/blue-bolt-logo.png" alt="Gym Management Logo" style="height: 50px; width: auto;">
				<a class="nav-link text-dark" asp-area="" asp-controller="UserRole" asp-action="Index">Maintain User Roles</a>
			</div>
		}
		else if (roles.Contains("Security"))
		{
			<div class="d-flex px-2">
				<img src="~/images/blue-bolt-logo.png" alt="Gym Management Logo" style="height: 50px; width: auto;">
				<a class="nav-link text-dark" asp-area="" asp-controller="UserRole" asp-action="Index">Maintain User Roles</a>
			</div>
		}
		else if (roles.Contains("Supervisor"))
		{
			<div class="d-flex px-2">
				<img src="~/images/blue-bolt-logo.png" alt="Gym Management Logo" style="height: 50px; width: auto;">
				<a class="nav-link text-dark" asp-area="" asp-controller="GroupClass" asp-action="Index">Group Classes</a>
			</div>

			<div class="d-flex px-2">
				<img src="~/images/blue-bolt-logo.png" alt="Gym Management Logo" style="height: 50px; width: auto;">
				<a class="nav-link text-dark" asp-area="" asp-controller="Instructor" asp-action="Index">Instructors</a>
			</div>

			<div class="d-flex px-2">
				<img src="~/images/blue-bolt-logo.png" alt="Gym Management Logo" style="height: 50px; width: auto;">
				<a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Index">Clients</a>
			</div>
		}
		else if (roles.Contains("Staff"))
		{
			<div class="d-flex px-2">
				<img src="~/images/blue-bolt-logo.png" alt="Gym Management Logo" style="height: 50px; width: auto;">
				<a class="nav-link text-dark" asp-area="" asp-controller="GroupClass" asp-action="Index">Group Classes</a>
			</div>

			<div class="d-flex px-2">
				<img src="~/images/blue-bolt-logo.png" alt="Gym Management Logo" style="height: 50px; width: auto;">
				<a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Index">Clients</a>
			</div>
		}
		else if (roles.Contains("Client"))
		{
			<div class="d-flex px-2">
				<img src="~/images/blue-bolt-logo.png" alt="Gym Management Logo" style="height: 50px; width: auto;">
				<a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Index">View your info</a>
			</div>
		}
		else if (string.Join(", ", roles) == "")
		{
			<p>No role assigned</p>
		}
	}
	else
	{
		<div class="d-flex px-2">
			<img src="~/images/blue-bolt-logo.png" alt="Gym Management Logo" style="height: 50px; width: auto;">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</div>
	}
</div>
