@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="fs-3">Gym Management App</h1>
    <p class="fs-5 mt-5">Leonardo Mathot</p>
    <a href="https://gymmanagementapp.azurewebsites.net/">GymManagementApp on Azure</a>
</div>
